// all color

$header-color: #232F3E; 
$page-color: #F5F5F5; 
$icon-color:  #E3AC10; 
$header-font:white;

%postion-fixed{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}